@layout SimpleLayout
@page "/counter"
@page "/counter/{StarterValue:int}"
<!-- Doesn't seem to just inherit, seems to instantiate it as well.-->
@inherits CounterBase


<!-- Section 1, Lesson 3, Routing 16:30 .. Route could be anything to get it here. -->
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<!-- Let's move this code out to a class in CounterBase.cs -->
<!--code {
    [Parameter]
    public int StarterValue { get; set; } // Property name matches to route is expecting

    private int currentCount = 0;

    // So Parameter can be used... Only runs on initial start of page.
    protected override void OnParametersSet() // From video
    { 
        base.OnParametersSet();
        currentCount = StarterValue; // This is crazy for doing routing... Wow.
    }
    //protected override void OnParametersSet() => base.OnParametersSet(); // From Ctl .

    private void IncrementCount()
    {
        // Error handling Section2 Lesson 5 At 1:00
        // throw new exceptio("I just broke this");
        currentCount++;
    } 
}-->
