<!-- No page directive-->
<!-- Could add ATusing
ATusing BlazorComponents.Models
But instead add it to the list in _Imports.razor
-->
<div>
    <h2 class="text-success">@FirstName @LastName</h2>
@AddressFragment
</div>
@code {
    // Here, it's the properties passed instead of the whole object used in AddressComponent.razor
    [Parameter] 
    public string FirstName { get; set; }
    [Parameter] 
    public string LastName { get; set; }
    [Parameter]
    public RenderFragment AddressFragment { get; set; }
}
